  $color-bg: #2f3045; 
  $color-fg: #1e1e2e;
  $color-red:#f7768e;
  $colorbg-bar: darken($color: #2f3045, 3.5);


  // Aliases
  $color-black: #15161e;
  $color-red: #f7768e;
  $red: #f7768e;
  $pink: #1e1e2e;
  $color-green: #9ece6a;
  $color-yellow: #f1cf8a;
  $color-blue: #7aa2f7;
  $color-magenta: #c68aee;
  $color-altdesktop: #fdf8a4;
  $color-altcurrent: #f494c7;
  $color-cyan: #04a5e5;
  $color-tooltip: $color-cyan;
  $color-tooltipbg: #1a1b26;
  $color-launcher: $color-cyan;
  $color-calselecter: $color-yellow;
  $color-panel: #c0caf5;
  $color-panelbg: #1d1c2d;
  $color-white:#a9b1d6;
  // Light / Dark
  $dark: #2f3045;
  $light: #1e1e2e;
