$color-bg: #23343b;
$color-fg: #8ccf7e;
$colorbg-bar: darken(
  $color: #141b1e,
  3.5%,
);
$color-black: #181f21;
$color-red: #e06e6e;
$red: #e06e6e;
$pink: #d13d98;
$color-green: #9ece6a;
$color-yellow: #e5c76b;
$color-blue: #67b0e8;
$color-magenta: #a67af5;
$color-altdesktop: #cfc213;
$color-altcurrent: $color-magenta;
$color-cyan: #54c3f0;
$color-tooltip: #8ccf7e;
$color-tooltipbg: #141b1e;
$color-launcher: #8ccf7e;
$color-calselecter: #a0ff39;
$color-panel: #c0caf5;
$color-panelbg: #141b1e;
$color-white: #cfcaca;
$dark: $color-bg;
$light: $color-fg;
