//$color-bg: #1a1b26;
//$color-fg: #c0caf5;
$color-bg: #1a1b26;
$color-fg: #c0caf5;
$colorbg-bar: darken(
  $color: $color-bg,
  2.5%,
);
$color-black: #15161e;
$color-red: #f7768e;
$red: #f7768e;
$pink: #1e1e2e;
$color-green: #9ece6a;
$color-yellow: #e0af68;
$color-blue: #7aa2f7;
$color-magenta: #bb9af7;
$color-altdesktop: #a1b4ef;
$color-altcurrent: #f494c7;
$color-cyan: #7dcfff;
$color-tooltip: $color-fg;
$color-tooltipbg: $color-bg;
$color-launcher: $color-cyan;
$color-calselecter: $color-bg;
$color-panel: $color-fg;
$color-panelbg: $color-bg;
$color-white: #a9b1d6;
$dark: $color-bg;
$light: $color-fg;
